body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

a {
    color: #08c;
    text-decoration: none
}

div, p {
    margin: 0;
    padding: 0;
}

table {
    font-size: 12px;
    border-spacing: 0;
    border-collapse: collapse;
}

input, select {
    margin: 10px;
    padding: 3px;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    min-width: 70px;
    text-align: center;
    color: #333;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn:hover {
    color: #fff;
    background-color: #ccc;
}

.btn:active {
    color: #fff;
    background-color: #aaa;
}

.content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.header, .footer {
    min-height: 20px;
    padding: 10px;
}

.column:last-child {
    border-right: 1px solid #ccc;
}

.fridge-list {
    float: left;
    width: 150px;
    min-height: 200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.fridge-list .btn {
    margin: 20px;
}

.fridge-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.fridge-item a {
    color: #333;
}

.fridge-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.fridge-item:active {
    background-color: #ccc;
    cursor: pointer;
}

.fridge-item:active a {
    color: #fff;
}

.product-list {
    margin-left: 155px;
    margin-right: 205px;
    min-height: 200px;
}

.product-list .btn {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.product-list table {
    display: inline-block;
    margin: 20px;
}

.product-list thead {
    background-color: #eee;
    text-align: center;
}

.product-list td {
    padding: 5px 15px;
    border-right: 1px solid #ccc;
}

.product-list td:last-child {
    border: none;
}

.product-form {
    float: right;
    width: 200px;
    min-height: 200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.product-form input {
    display: inline-block;
    outline: none;
    border: 1px solid #aaa;
}

.product-form input#quantity {
    width: 85px;
}

.product-form select#quantityUnit {
    margin-left: 0;
    display: inline-block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.bordered {
    border: solid 1px #ccc;
}

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    cursor: pointer;
    text-decoration: none;
}