body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333;
}

a {
    color: #08c;
    text-decoration: none
}

div, p {
    margin: 0;
    padding: 0;
}

table {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
}

input, select {
    margin: 1em;
    padding: 0.5em;
}

input[type="text"] {
    outline: none;
    border: 1px solid #aaa;
}

select {
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    color: #333;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn:hover {
    color: #fff;
    background-color: #ccc;
}

.btn:active {
    color: #fff;
    background-color: #aaa;
}

.content {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.header, .footer {
    min-height: 2em;
    padding: 1em;
}

.column:last-child {
    border-right: 1px solid #ccc;
}

.fridge-list {
    float: left;
    width: 10em;
    min-height: 20em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.fridge-list .btn {
    margin: 2em;
}

.fridge-item {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.fridge-item a {
    color: #333;
}

.fridge-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.fridge-item:active {
    background-color: #ccc;
    cursor: pointer;
}

.fridge-item:active a {
    color: #fff;
}

.product-list {
    margin-left: 11em;
    margin-right: 15em;
}

.product-list table {
    display: inline-block;
    margin: 2em;
}

.product-list th {
    background-color: #eee;
    text-align: center;
}

.product-list th, .product-list td {
    padding: 0.5em 1em;
    border-right: 1px solid #ccc;
}

.product-list th:last-child, .product-list td:last-child {
    border: none;
}

.product-form {
    float: right;
    width: 14em;
    min-height: 20em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.product-form input {
    display: inline-block;
}

.product-form input#quantity {
    width: 4em;
}

.product-form select#quantityUnit {
    width: 8em;
    margin-left: 0;
    display: inline-block;
}

.clear:after {
    content: '';
    display: table;
    clear: both;
}

.bordered {
    border: solid 1px #ccc;
}
